html
	{font-family: monospace;
	background-color: black;}
h1
	{position: absolute;
	font-size: 5ex;
	color: antiquewhite;
	top: 2ex;
	left: 12ex;}
h2
	{font-size: 4ex;
	color: brown;
	max-width: 72ch;
	margin: auto;
	text-align: center;}
p
	{font-size: 3ex;
	color: brown;
	max-width: 72ch;
	margin: 3ex auto;
	text-align: left;
	text-indent: 8ch}
img.head
	{height: 15ch;}
